<h1>Add New Edition</h1>

<form action="/editions" method="POST">
<!-- THIS BIT ISNT NEEDED, BUT SHOULDNT CAUSE PROBLEMS? -->
  <label for="artist-select">Select Artist:</label>
  <select id="artist-select" name="artist_id" required>
    <option value ="">Please Select</option>
    <% @artists.each do |artist| %>
    <option value="<%= artist.id %>"> <%= artist.name %> </option>
    <% end %>
  </select>

  <label for="album-select">Select Album:</label>
  <select id="album-select" name="title_id" required>
    <option value ="">Please Select</option>
    <% @albums.each do |album| %>
    <option value="<%= album.id %>"> <%= album.title %> </option>
    <% end %>
  </select>

  <label for="format-select">Select Format:</label>
  <select id="format-select" name="format" required>
    <option value ="">Please Select</option>
    <option value ="cd">CD</option>
    <option value ="vinyl">Vinyl</option>
  </select>

  <label for="collectible-select">Collector's Edition?</label>
  <select id="collectible-select" name="collectible" required>
    <option value ="">Please Select</option>
    <option value ="y">Yes</option>
    <option value ="n">No</option>
  </select>

  <label for="version-notes-field">Version Notes:</label>
  <input class="update-field" id="version-notes-field" name="version_notes" type="text"/>

  <label for="edition-release-year-field">Edition Release Year:</label>
  <input class="update-field" id="edition-release-year-field" name="edition_release_year" type="number"/>

  <label for="number-in-stock-field">Number in Stock:</label>
  <input class="update-field" id="number-in-stock-field" name="number_in_stock" type="number"/>

  <label for="supplier-price-field">Supplier Price:</label>
  <input class="update-field" id="supplier-price-field" name="supplier_price" type="number"/>

  <label for="retail-price-field">Retail Price:</label>
  <input class="update-field" id="retail-price-field" name="retail_price" type="number"/>

  <input type="submit" value="Add to Editions">

</form>
