
<div class="introtitle">

<h1 class="main-banner">Garfield View</h1>

<img id="easteregg" src="/easteregg.png" alt="vaporwave garfield meme">
<h2 class="sub-banner">There's no reason for you to see this!</h2>
</div>
