<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <title>TUNES MATTER</title>
</head>
<body class="site">

  <header>
    <nav>
      <a class="navlink" href="/">Home</a>
      <a class="navlink" href="/artists">Artists</a>
      <a class="navlink" href="/albums">Albums</a>
      <a class="navlink" href="/editions">Inventory</a>
      <a class="navlink" href="/search">Search</a>
    </nav>
  </header>
  <main class="site-content">
    <%= yield %>
  </main>
  <footer> <%= Shop.total_stock_levels %> </footer>
</body>
</html>
