<h1>Search</h1>

<form action="/search/artists" method="POST">

  <label for="name-search-field">Artist Name:</label>
  <input id="name-search-field" name="name" type="text"/>
  <input type="submit" value="Search Artists">

</form>


<form action="/search/albums" method="POST">

  <label for="title-search-field">Album Title:</label>
  <input id="title-search-field" name="title" type="text"/>
  <input type="submit" value="Search Albums">

</form>


<form action="/search/genres" method="POST">

  <label for="genre-search-field">Genre:</label>
  <input id="genre-search-field" name="genre" type="text"/>
  <input type="submit" value="Search Genres">

</form>
