<h1>Search</h1>

<form action="/search/artists" method="POST">

  <label class="search-label" for="name-search-field">Artist Name:</label>
  <input class="update-field" id="name-search-field" name="name" type="text"/>
  <input class="input-button" type="submit" value="Search Artists">

</form>

<hr>

<form action="/search/albums" method="POST">

  <label class="search-label" for="title-search-field">Album Title:</label>
  <input class="update-field" id="title-search-field" name="title" type="text"/>
  <input class="input-button" type="submit" value="Search Albums">

</form>

<hr>
<form action="/search/genres" method="POST">

  <label class="search-label" for="genre-search-field">Genre:</label>
  <input class="update-field" id="genre-search-field" name="genre" type="text"/>
  <input class="input-button" type="submit" value="Search Genres">

</form>
