<h1>Add New Album</h1>

<form action="/albums" method="POST">

  <label for="artist-select">Select Artist:</label>
  <select id="artist-select" name="artist_id" required>
    <option value ="">Please Select</option>
    <% @artists.each do |artist| %>

    <option value="<%= artist.id %>"> <%= artist.name %> </option>
    <% end %>
  </select>

  <label for="title-field">Album Title:</label>
  <input id="title-field" name="title" type="text"/>

  <label for="genre-field">Album Genre:</label>
  <input id="genre-field" name="genre" type="text"/>

  <label for="original-release-year-field">Original Release Year:</label>
  <input id="original-release-year-field" name="original_release_year" type="number"/>

  <input type="submit" value="Add to Albums">

</form>
