<h2>Edit Artist</h2>

<form action="/artists/<%= @artist.id %>" method="POST">

  <label for="name-field">Artist Name:</label>
  <input id="name-field" name="name" type="text" value="<%= @artist.name %>"/>
  <input type="submit" value="Update Artist Details">

</form>
