<h1>Add New Artist</h1>

<form action="/artists" method="POST">

  <label for="name-field">Artist Name:</label>
  <input class="update-field" id="name-field" name="name" type="text"/>
  <input type="submit" value="Add to Artists">

</form>
